<pre><code><span ng-style="{color: keywordface}">package </span><span ng-style="{color: deffacefg}">main</span>

<span ng-style="{color: keywordface}">import </span><span ng-style="{color: stringface}">"fmt"</span>

<span ng-style="{color: keywordface}">type </span><span ng-style="{color: typeface}">face string</span>

<span ng-style="{color: keywordface}">type </span><span ng-style="{color: typeface}">theme </span><span ng-style="{color: keywordface}">struct </span><span ng-style="{color: deffacefg}">{</span>
           <span ng-style="{color:deffacefg}">name  string</span>
           <span ng-style="{color:deffacefg}">faces []</span><span ng-style="{color:typeface}">face</span>
<span ng-style="{color: deffacefg}">}</span>

<span ng-style ="{color: keywordface}">func </span><span ng-style"{color: functionnameface}">add</span><span ng-style="{color:deffacefg}">(x, y </span><span ng-style="{color: typeface}">int</span><span ng-style="{color:deffacefg}">) </span><span ng-style="{color: typeface}">int </span><span ng-style="{color:deffacefg}">{</span>
        <span ng-style="{color: keywordface}">return </span><span ng-style="{color:deffacefg}">x + y </span><span ng-style="{color:commentface}">// complicated math</span>
<span ng-style="{color:deffacefg}">}</span>

<span ng-style="{color:keywordface}">func </span><span ng-style="{color: functionnameface}">main</span><span ng-style="{color:deffacefg}">() {</span>
        <span ng-style="{color:deffacefg}">x := 2</span>
        <span ng-style="{color:deffacefg}">y := 3</span>
        <span ng-style="{color:deffacefg}">fmt.</span><span ng-style="{color: functionnameface}">Println</span><span ng-style="{color: deffacefg}">(</span><span ng-style="{color: stringface}">"2 + 3 is : "</span><span ng-style="{color:deffacefg}">, </span><span ng-style="{color: functionnameface}">add</span><span ng-style="{color:deffacefg}">(x,y))</span>
<span ng-style="{color:deffacefg}">}</span></code></pre>
