<pre ng-style="{'background-color':faces.deffacebg,border:'0px'}"><code><span ng-style="{color: faces.commentface}">-- return the sorted permutations of a string</span>

<span ng-style="{color: faces.keywordface}">import </span><span ng-style="{color: faces.typeface}">System.Environment</span>
<span ng-style="{color: faces.keywordface}">import </span><span ng-style="{color: faces.typeface}">System.Exit</span>
<span ng-style="{color: faces.keywordface}">import </span><span ng-style="{color: faces.typeface}">Data.List </span><span ng-style="{color: faces.deffacefg}">(permutations,sort,intercalate)</span>

<span ng-style="{color: faces.functionnameface}">main </span><span ng-style="{color: faces.variableface}">= </span><span ng-style="{color: faces.deffacefg}">getArgs </span><span ng-style="{color:faces.variableface}">>>= </span><span ng-style="{color: faces.deffacefg}">parse </span><span ng-style="{color: faces.variableface}">>>= </span><span ng-style="{color: faces.deffacefg}">putStrLn . process</span>

<span ng-style="{color: faces.functionnameface}">parse </span><span ng-style="{color: faces.typeface}">[] </span><span ng-style="{color: faces.variableface}">= </span><span ng-style="{color: faces.deffacefg}">usage </span><span ng-style="{color:faces.variableface}">>> </span><span ng-style="{color:faces.deffacefg}">exit</span>
<span ng-style="{color: faces.functionnameface}">parse [f] </span><span ng-style="{color:faces.variableface}">= </span><span ng-style="{color:faces.deffacefg}">readFile f</span>

<span ng-style="{color: faces.functionnameface}">process </span><span ng-style="{color:faces.variableface}">= </span><span ng-style="{color:faces.deffacefg}">unlines </span><span ng-style="{color:faces.variableface}">. </span><span ng-style="{color: faces.deffacefg}">permute </span><span ng-style="{color:faces.variableface}">. </span><span ng-style="{color:faces.deffacefg}">lines</span>

<span ng-style="{color: faces.functionnameface}">usage    </span><span ng-style="{color: faces.variableface}">= </span><span ng-style="{color: faces.deffacefg}">putStrLn </span><span ng-style="{color: faces.stringface}">"Usage: foo <file>"</span>
<span ng-style="{color: faces.functionnameface}">exit     </span><span ng-style="{color: faces.variableface}">= </span><span ng-style="{color:faces.deffacefg}">exitSuccess</span>

<span ng-style="{color: faces.functionnameface}">permute </span><span ng-style="{color:faces.variableface}">= </span><span ng-style="{color: faces.deffacefg}">map (intercalate </span><span ng-style="{color: faces.stringface}">"," </span><span ng-style="{color: faces.variableface}">. </span><span ng-style="{color: faces.deffacefg}">sort </span><span ng-style="{color: faces.variableface}">. </span><span ng-style="{color:faces.deffacefg}">permutations)</span></code></pre>
