<pre><code><span ng-style="{color: stringface}">'use strict'</span<span ng-style="{color:deffacefg}">;</span>

<span ng-style="{color: commentface}">/* Filters */</span>

<span ng-style="{color: deffacefg}">angular.module(</span><span ng-style="{color:stringface}">'myApp.filters'</span><span ng-style="{color:deffacefg}">,[]).</span>
  <span ng-style="{color:deffacefg}">filter(</span><span ng-style="{color: stringface}">'interpolate'</span><span ng-style="{color:deffacefg}">,[</span><span ng-style="{color:stringface}">'version'</span><span ng-style="{color:deffacefg}">, </span><span ng-style="{color: keywordface}">function</span><span ng-style="{color:deffacefg}">(</span><span ng-style="{color:variableface}">version</span><span ng-style="{color:deffacefg}">) {</span>
    <span ng-style="{color:keywordface}">return function(</span><span ng-style="{color:variableface}">text</span><span ng-style="{color:deffacefg}">) {</span>
      <span ng-style="{color:keywordface}">return </span><span ng-style="{color:deffacefg}">String(text).replace(</span><span ng-style="{color:stringface}">/\%VERSION\%/</span><span ng-style="{color:deffacefg}">mg, version);</span>
    <span ng-style="{color:deffacefg}">};</span>
  <span ng-style="{color:deffacefg}">}]);</span></code></pre>
