<pre ng-style="{'background-color':faces.deffacebg,border:'0px'}"><code><span ng-style="{color: faces.stringface}">'use strict'</span<span ng-style="{color:faces.deffacefg}">;</span>

<span ng-style="{color: faces.commentface}">/* Filters */</span>

<span ng-style="{color: faces.deffacefg}">angular.module(</span><span ng-style="{color:faces.stringface}">'myApp.filters'</span><span ng-style="{color:faces.deffacefg}">,[]).</span>
  <span ng-style="{color:faces.deffacefg}">filter(</span><span ng-style="{color: faces.stringface}">'interpolate'</span><span ng-style="{color:faces.deffacefg}">,[</span><span ng-style="{color:faces.stringface}">'version'</span><span ng-style="{color:faces.deffacefg}">, </span><span ng-style="{color: faces.keywordface}">function</span><span ng-style="{color:faces.deffacefg}">(</span><span ng-style="{color:faces.variableface}">version</span><span ng-style="{color:faces.deffacefg}">) {</span>
    <span ng-style="{color:faces.keywordface}">return function(</span><span ng-style="{color:faces.variableface}">text</span><span ng-style="{color:faces.deffacefg}">) {</span>
      <span ng-style="{color:faces.keywordface}">return </span><span ng-style="{color:faces.deffacefg}">String(text).replace(</span><span ng-style="{color:faces.stringface}">/\%VERSION\%/</span><span ng-style="{color:faces.deffacefg}">mg, version);</span>
    <span ng-style="{color:faces.deffacefg}">};</span>
  <span ng-style="{color:faces.deffacefg}">}]);</span></code></pre>
