<pre ng-style="{'background-color':faces.deffacebg, border:'0px'}"><code><span ng-style="{color: faces.stringface}">"""Project Euler 20"""</span><br/><span ng-style="{color: faces.keywordface}">class </span><span ng-style="{color: faces.typeface}">Euler</span><span ng-style="{color: faces.deffacefg}">:</span>
    <span ng-style="{color:faces.keywordface}">def </span><span ng-style="{color:faces.functionnameface}">__init__</span><span ng-style="{color:faces.deffacefg}">(</span><span ng-style="{color:faces.keywordface}">self</span><span ng-style="{color:faces.deffacefg}">):</span>
        <span ng-style="{color:faces.keywordface}">self</span><span ng-style="{color:faces.deffacefg}">.data = []</span>

<span ng-style="{color:faces.variableface}">e </span><span ng-style="{color: faces.deffacefg}">= Euler()</span>

<span ng-style="{color: faces.keywordface}">def </span><span ng-style="{color: faces.functionnameface}">fac</span><span ng-style="{color: faces.deffacefg}">(num):</span><br/><span ng-style="{color: faces.stringface}">&quotreturn factorial of number num&quot</span>
    <span ng-style="{color:faces.keywordface}">if </span><span ng-style="{color:faces.deffacefg}">num == 0:</span>
    <span ng-style="{color:faces.keywordface}">    return </span><span ng-style="{color: faces.deffacefg}">1</span>
    <span ng-style="{color:faces.keywordface}">else</span><span ng-style="{color: faces.deffacefg}">:</span>
    <span ng-style="{color:faces.keywordface}">    return </span><span ng-style="{color: faces.deffacefg}">num * fac(num-1)</span>

<span ng-style="{color:faces.keywordface}">def </span><span ng-style="{color: faces.functionnameface}">sumDigits</span><span ng-style="{color: faces.deffacefg}">(num):
  <span ng-style="{color:faces.stringface}">"return sum of all digits in number num"</span>
  <span ng-style="{color:faces.variableface}">s </span><span ng-style="{color: faces.deffacefg}">= </span><span ng-style="{color:faces.builtinface}">str</span><span ng-style="{color: faces.deffacefg}">(num) </span><span ng-style="{color:faces.commentface}"># convert number to string of its digits.</span>
  <span ng-style="{color:faces.variableface}">total </span><span ng-style="{color: faces.deffacefg}">= 0</span>
  <span ng-style="{color:faces.keywordface}">for </span><span ng-style="{color: faces.deffacefg}">i </span><span ng-style="{color:faces.keywordface}">in </span><span ng-style="{color: faces.deffacefg}">s:</span>
      <span ng-style="{color:faces.variableface}">total </span><span ng-style="{color: faces.deffacefg}">+= </span><span ng-style="{color: faces.builtinface}">int</span><span ng-style="{color: faces.deffacefg}">(i)</span><span ng-style="{color: faces.commentface}"> # add int value of each digit to total.</span>
  <span ng-style="{color:faces.keywordface}">return </span><span ng-style="{color:faces.deffacefg}">total</span>

<span ng-style="{color:faces.keywordface}">print</span><span ng-style="{color: faces.deffacefg}">(sumDigits(fac(100)))</span>
</code></pre>
