<pre><code><span ng-style="{color: commentface}"># The Greeter class</span>
<span ng-style="{color: keywordface}">class </span><span ng-style="{color: typeface}">Greeter</span>
  <span ng-style="{color: keywordface}">def </span><span ng-style="{color: functionnameface}">initialize</span><span ng-style="{color: deffacefg}">(name)</span>
    <span ng-style="{color: variableface}">@name </span><span ng-style="{color: deffacefg}">= name.capitalize</span>
 <span ng-style="{color: keywordface}">end</span>

  <span ng-style="{color: keywordface}">def </span><span ng-style="{color: functionnameface}">salute</span>
    <span ng-style="{color: builtinface}">puts </span><span ng-style="{color: stringface}">'Hello </span><span ng-style="{color:variableface}">#{@name}</span><span ng-style="{color:stringface}">!'</span>
  <span ng-style="{color: keywordface}">end</span>
<span ng-style="{color: keywordface}">end</span>

<span ng-style="{color: commentface}"># Create a new object</span>
<span ng-style="{color: deffacefg}">g = </span><span ng-style="{color: typeface}">Greeter</span><span ng-style="{color: deffacefg}">.new(</span><span ng-style="{color: stringface}">"world"</span><span ng-style="{color:deffacefg}">)</span>

<span ng-style="{color: commentface}"># Output "Hello World!"</span>
<span ng-style="{color: deffacefg}">g.salute</span></code></pre>
