<pre ng-style="{'background-color': faces.deffacebg, border: '0px'}"><code><span ng-style="{color: faces.commentface}"># The Greeter class</span>
<span ng-style="{color: faces.keywordface}">class </span><span ng-style="{color: faces.typeface}">Greeter</span>
  <span ng-style="{color: faces.keywordface}">def </span><span ng-style="{color: faces.functionnameface}">initialize</span><span ng-style="{color: faces.deffacefg}">(name)</span>
    <span ng-style="{color: faces.variableface}">@name </span><span ng-style="{color: faces.deffacefg}">= name.capitalize</span>
 <span ng-style="{color: faces.keywordface}">end</span>

  <span ng-style="{color: faces.keywordface}">def </span><span ng-style="{color: faces.functionnameface}">salute</span>
    <span ng-style="{color: faces.builtinface}">puts </span><span ng-style="{color: faces.stringface}">'Hello </span><span ng-style="{color:faces.variableface}">#{@name}</span><span ng-style="{color:faces.stringface}">!'</span>
  <span ng-style="{color: faces.keywordface}">end</span>
<span ng-style="{color: faces.keywordface}">end</span>

<span ng-style="{color: faces.commentface}"># Create a new object</span>
<span ng-style="{color: faces.deffacefg}">g = </span><span ng-style="{color: faces.typeface}">Greeter</span><span ng-style="{color: faces.deffacefg}">.new(</span><span ng-style="{color: faces.stringface}">"world"</span><span ng-style="{color:faces.deffacefg}">)</span>

<span ng-style="{color: faces.commentface}"># Output "Hello World!"</span>
<span ng-style="{color: faces.deffacefg}">g.salute</span>

<span ng-style="{color: faces.commentface}"># Sieve of Erathosthenes</span>

<span ng-style="{color: faces.keywordface}">def </span><span ng-style="{color:faces.functionnameface}">erathosthenes</span><span ng-style="{color:faces.deffacefg}">(n)</span>
  <span ng-style="{color: faces.deffacefg}">nums = [</span><span ng-style="{color:faces.variableface}">nil</span><span ng-style="{color:faces.deffacefg}">, </span><span ng-style="{color:faces.variableface}">nil</span><span ng-style="{color:faces.deffacefg}">, *2..n]</span>
  <span ng-style="{color:faces.deffacefg}">(2..</span><span ng-style="{color:faces.typeface}">Math</span><span ng-style="{color:faces.deffacefg}">.sqrt(n)).each </span><span ng-style="{color:faces.keywordface}">do </span><span ng-style="{color:faces.deffacefg}">|i|</span>
    <span ng-style="{color:faces.deffacefg}">(i**2..n).step(i){|m| nums[m] = </span><span ng-style="{color:faces.variableface}">nil</span><span ng-style="{color:faces.deffacefg}">} </span><span ng-style="{color:faces.keywordface}">if </span><span ng-style="{color:faces.deffacefg}">nums[i]</span>
  <span ng-style="{color:faces.keywordface}">end</span>
  <span ng-style="{color:faces.deffacefg}">nums.compact</span>
<span ng-style="{color:faces.keywordface}">end</span>

</code></pre>
