<pre ng-style="{'background-color': faces.deffacebg, border: '0px'}"><code><span ng-style="{color: faces.commentface}"># The Greeter class</span>
<span ng-style="{color: faces.keywordface}">class </span><span ng-style="{color: faces.typeface}">Greeter</span>
  <span ng-style="{color: faces.keywordface}">def </span><span ng-style="{color: faces.functionnameface}">initialize</span><span ng-style="{color: faces.deffacefg}">(name)</span>
    <span ng-style="{color: faces.variableface}">@name </span><span ng-style="{color: faces.deffacefg}">= name.capitalize</span>
 <span ng-style="{color: faces.keywordface}">end</span>

  <span ng-style="{color: faces.keywordface}">def </span><span ng-style="{color: faces.functionnameface}">salute</span>
    <span ng-style="{color: faces.builtinface}">puts </span><span ng-style="{color: faces.stringface}">'Hello </span><span ng-style="{color:faces.variableface}">#{@name}</span><span ng-style="{color:faces.stringface}">!'</span>
  <span ng-style="{color: faces.keywordface}">end</span>
<span ng-style="{color: faces.keywordface}">end</span>

<span ng-style="{color: faces.commentface}"># Create a new object</span>
<span ng-style="{color: faces.deffacefg}">g = </span><span ng-style="{color: faces.typeface}">Greeter</span><span ng-style="{color: faces.deffacefg}">.new(</span><span ng-style="{color: faces.stringface}">"world"</span><span ng-style="{color:faces.deffacefg}">)</span>

<span ng-style="{color: faces.commentface}"># Output "Hello World!"</span>
<span ng-style="{color: faces.deffacefg}">g.salute</span></code></pre>
