<header>
  <h2>Emacs Theme Creator</h2>
</header>
<div class="themecreator">
  <form role="form" action="/savetheme" method="post">
    <div class="form-control">
      <div class="colors">
        <label for="themename">Theme name</label>
        <input required name="themename" ng-model="themename" type="text" value=""/>
      </div>

      <div class="colors">
        <label for="authorname">Author name</label>
        <input required name="authorname"  type="text" value=""/>
      </div>
      <div class="colors">
        <label for="url">Repository url</label>
        <input type="url" name="url"  value=""/>
      </div>
      <br/>
      <br/>
      <div class="cpick">
        <div class="colors">
          <label for="deffacebg">Background Color</label>
          <input required colorpicker name="deffacebg" type="text" ng-model="deffacebg" /><span class="colorpreview" style="background-color:{{deffacebg}}">&nbsp&nbsp&nbsp&nbsp&nbsp</span>
        </div>
        <div class="colors">
          <label for="deffacefg">Foreground Color</label>
          <input required colorpicker name="deffacefg" type="text" ng-model="deffacefg" /><span class="colorpreview" style="background-color:{{deffacefg}}">&nbsp&nbsp&nbsp&nbsp&nbsp</span>
        </div>
        <div class="colors">
          <label for="builtinface">Builtin Face</label>
          <input colorpicker name="builtinface" type="text" ng-model="builtinface" /><span class="colorpreview" style="background-color:{{builtinface}}">&nbsp&nbsp&nbsp&nbsp&nbsp</span>
        </div>
        <div class="colors">
          <label for="stringface">String Face</label>
          <input required colorpicker name="stringface" type="text" ng-model="stringface" /><span class="colorpreview" style="background-color:{{stringface}}">&nbsp&nbsp&nbsp&nbsp&nbsp</span>
        </div>
        <div class="colors">
          <label for="keywordface">Keyword Face Color</label>
          <input required colorpicker name="keywordface" type="text" ng-model="keywordface" /><span class="colorpreview" style="background-color:{{keywordface}}">&nbsp&nbsp&nbsp&nbsp&nbsp</span>
        </div>
        <div class="colors">
          <label for="functionnameface">Functionname Color</label>
          <input required colorpicker name="functionnameface" type="text" ng-model="functionnameface" /><span class="colorpreview" style="background-color:{{functionnameface}}">&nbsp&nbsp&nbsp&nbsp&nbsp</span>
        </div>
        <div class="colors">
          <label for="commentface">Comment Color</label>
          <input required colorpicker name="commentface" type="text" ng-model="commentface" /><span class="colorpreview" style="background-color:{{commentface}}">&nbsp&nbsp&nbsp&nbsp&nbsp</span>
        </div>
        <div class="colors">
          <label for="variableface">Variable Face Color</label>
          <input required colorpicker name="variableface" type="text" ng-model="variableface" /><span class="colorpreview" style="background-color:{{variableface}}">&nbsp&nbsp&nbsp&nbsp&nbsp</span>
        </div>
        <div class="colors">
          <label for="typeface">Type Face</label>
          <input required colorpicker name="typeface" type="text" ng-model="typeface" /><span class="colorpreview" style="background-color:{{typeface}}">&nbsp&nbsp&nbsp&nbsp&nbsp</span>
        </div>
        <div class="colors">
          <label for="constantface">Constant Face</label>
          <input required colorpicker name="constantface" type="text" ng-model="constantface" /><span class="colorpreview" style="background-color:{{constantface}}">&nbsp&nbsp&nbsp&nbsp&nbsp</span>
        </div>
        <div class="colors">
          <label for="warningface">Warning Face</label>
          <input required colorpicker name="warningface" type="text" ng-model="warningface" /><span class="colorpreview" style="background-color:{{warningface}}">&nbsp&nbsp&nbsp&nbsp&nbsp</span>
        </div>
        <div class="colors">
          <input type="button" name="contrast"  ng-click="increaseCont()" value="Increase Contrast"/>
        </div>


        <input class="savebutton" name="sb"  type="submit" value="Done"/>

  </form>
  </div>
  </div>
  <div class="lang" ng-style="{'background-color':deffacebg}">
    <div class="sellang">
      <select ng-model="prevlang" ng-options="language for language in languages">
      </select>
    </div>
  <div theme-preview></div>
  </div>

  </div>
</div>
