/* app css stylesheet */
html {
    position: relative;
    min-height:100%;
}
body {
    margin: 0 0 20px;
    background-color:#e7e9eb;
    overflow:auto;
    padding-bottom:2em;

}
.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}


.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}
.colorpreview {
    padding: 0.1em;
    margin-left:0.2em;
}
/* input { */
/*     margin-left:0.2em; */
/* } */

.colors {
    padding:1em;
    margin:auto;
}
.colors > label {
    position:relative;
    float:left;
    font-size:91%;
}
.colors > input {
    position: relative;
    float:right;


}
.colors > span {
    position:relative;
    float:right;
    margin-right:8px;
}
[class*='col-'] {
    float: left;
}

/* .themecreator { */
/*     width:100%; */
/*     display:flex; */
/*     flex-direction:row; */
/*     justify-content:space-around; */
/* } */

/* .faceselection { */
/*     flex-shrink:0; */
/* } */
    

.lang {
    width: 50%;
    float:right;
    margin-right:20px;
    margin-top:20px;
    background-color: white;
    border-left: .2em solid #b9bcbf;
    border-right: .2em solid #b9bcbf;
    -moz-box-shadow: 0 0 10px 10px #b9bcbf;
    -webkit-box-shadow: 0 0 10px 10px #b9bcbf;
    -icab-box-shadow: 0 0 10px 10px #b9bcbf;
    -o-box-shadow: 0 0 10px 10px #b9bcbf;
    box-shadow: 0 0 10px 10px #b9bcbf;

}
.sellang {
    padding:22px;
    height:4px;
}
.themecreator {
    width:100%;
    margin:auto;
}
.themeprev {
    width:95%;
    float:right;
    padding:8px;
    clear:right;

}
header {
    text-align:center;
}


.form-control {
    width:40%;
    padding:4px;
    margin-left:20px;
    float:left;
    background-color:#ffffff;
    margin-top:18px;
    background-color: white;
    border-left: .2em solid #b9bcbf;
    border-right: .2em solid #b9bcbf;
    -moz-box-shadow: 0 0 10px 10px #b9bcbf;
    -webkit-box-shadow: 0 0 10px 10px #b9bcbf;
    -icab-box-shadow: 0 0 10px 10px #b9bcbf;
    -o-box-shadow: 0 0 10px 10px #b9bcbf;
    box-shadow: 0 0 10px 10px #b9bcbf;
}
.colors > input {
    margin-right:40px;
}
.savebutton {
    margin-right:auto;
    margin-left:80px;
    margin-top:22px;
}
footer {
    text-align:right;
    position: absolute;
    bottom:0;
    right:8px;
    height:20px;
    width:100%;
    font-size:0.8em;
    clear:both;
}
.rndbutton {
    font-size: 80%;
    margin-right:12px;
}
.rndbuttonlbl {
    font-size:80%;
    margin-left:12px;
    margin-right:4px;
    margin-bottom:0.4em;
    
}
.savebuttons {
    margin-left:1em;
}
.savebuttons > button {
    margin-top:1em;
    margin-left:2em;
}
.adjbackground {
    line-height:80%;
}