/* app css stylesheet */
html {
    position: relative;
    min-height:100%;
}
body {
    margin: 0 0 20px;
    background-color:#e7e9eb;
    overflow:auto;
    padding-bottom:2em;

}
.themecreator {
    margin-top:2em;
}
.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.colors {
    margin-top:0.8em;
}




.faceselection {
    background-color:white;
        border-left: .2em solid #b9bcbf;
    border-right: .2em solid #b9bcbf;
    -moz-box-shadow: 0 0 10px 10px #b9bcbf;
    -webkit-box-shadow: 0 0 10px 10px #b9bcbf;
    -icab-box-shadow: 0 0 10px 10px #b9bcbf;
    -o-box-shadow: 0 0 10px 10px #b9bcbf;
    box-shadow: 0 0 10px 10px #b9bcbf;
    margin-right:2em;
    padding:20px;
    margin-left:2em;
    margin-bottom:2em;
}

.lang {
    margin-bottom:2em;
    margin-left:2em;
    margin-right:2em;
    padding:20px;
    /* width: 50%; */
    /* float:right; */
    /* margin-right:20px; */
    /* margin-top:20px; */
    background-color: white;
    border-left: .2em solid #b9bcbf;
    border-right: .2em solid #b9bcbf;
    -moz-box-shadow: 0 0 10px 10px #b9bcbf;
    -webkit-box-shadow: 0 0 10px 10px #b9bcbf;
    -icab-box-shadow: 0 0 10px 10px #b9bcbf;
    -o-box-shadow: 0 0 10px 10px #b9bcbf;
    box-shadow: 0 0 10px 10px #b9bcbf;

}
.sellang {
    padding:22px;
    height:4px;
}
/* .themecreator { */
/*     width:100%; */
/*     margin:auto; */
/* } */
/* .themeprev { */
/*     width:95%; */
/*     float:right; */
/*     padding:8px; */
/*     clear:right; */

/* } */
header {
    text-align:center;
}


/* .form-control { */
/*     width:40%; */
/*     padding:4px; */
/*     margin-left:20px; */
/*     float:left; */
/*     background-color:#ffffff; */
/*     margin-top:18px; */
/*     background-color: white; */
/*     border-left: .2em solid #b9bcbf; */
/*     border-right: .2em solid #b9bcbf; */
/*     -moz-box-shadow: 0 0 10px 10px #b9bcbf; */
/*     -webkit-box-shadow: 0 0 10px 10px #b9bcbf; */
/*     -icab-box-shadow: 0 0 10px 10px #b9bcbf; */
/*     -o-box-shadow: 0 0 10px 10px #b9bcbf; */
/*     box-shadow: 0 0 10px 10px #b9bcbf; */
/* } */
.colors > input {
    margin-right:40px;
}
.savebutton {
    margin-right:auto;
    margin-left:80px;
    margin-top:22px;
}
footer {
    text-align:right;
    position: absolute;
    bottom:0;
    right:8px;
    height:20px;
    width:100%;
    font-size:0.8em;
    clear:both;
}
.rndbutton {
    font-size: 80%;
    margin-right:12px;
}
.rndbuttonlbl {
    font-size:80%;
    margin-left:12px;
    margin-right:4px;
    margin-bottom:0.4em;
    
}
.savebuttons {
    margin-left:1em;
}
.savebuttons > button {
    margin-top:1em;
    margin-left:2em;
}
.adjbackground {
    line-height:80%;
}
.row > span {
    border-radius: 1em;
    border:1px solid grey;
}
.row > label {
    /* font-size:80%; */
}